@import "fonts.css";

body {
  font-family: roboto, Arial, serif;
  margin: 0;
  padding: 0;
}

header {
  height: 40px;
  font-size: 20px;
  padding: 0 20px;
}

#nav-con {
  height: 40px;
}

nav {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: white;
  margin-bottom: 20px;
}

nav.stick > #user-picture {
  transform: scale(0);
}

nav.stick > #profile-arrow {
  transform: rotate(0) scale(1);
  opacity: 1;
}

#profile-arrow {
  position: absolute;
  left: 20px;
  height: 30px;
  width: 30px;
  background-position: right center;
  /*background-size: contain;*/
  background-image: url(/icon/right.svg);
  transition: transform 0.3s ease, opacity 0.3s ease;

  transform: rotate(-45deg) scale(0);
  opacity: 0;
}

nav.stick {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 10px rgba(220, 220, 220, 0.9);
}

#user-picture {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: grey;
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: transform 0.3s ease;
}

#user-name {
  display: inline-block;
  flex: 1;
}