$line-height: 20px;
$border-size: $line-height;
$border-radius: 0; //$border-size / 2;
$border-spacing: 6px;
$border-colour: rgba(black, 0.1);
$hover-colour: rgba(black, 0.2);
$font-size: 16px;

%extended-line-height {
  line-height: $line-height;
  padding-top: $border-spacing;
  padding-bottom: $border-spacing;
}

%ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%hover {
  transition: background-color 0.2s ease;
  background-color: $border-colour;

  &:hover {
    background-color: $hover-colour;
  }
}