@import "variables";

.note-title {
  @extend %extended-line-height;
}

.definition-title, .note-title {
  font-family: rbold;
}

.definition-title {
  $vertical-padding: 2px;
  @extend %hover;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  max-width: 30%;
}

.definition:hover > .definition-title {
  background-color: $hover-colour;
}

.note, .point, .definition {
  font-size: $font-size;
  line-height: $line-height;
  display: flex;
}

.note, .point {
  &:before {
    @extend %hover;
    content: "";
    background-color: $border-colour;
    width: $border-size;
    text-align: center;
    border-radius: $border-radius;
  }

  &:hover:before {
    background-color: $hover-colour;
  }
}

.note:before {
  width: $border-size + $border-spacing;
}

.definition-body, .point-body, .note-body {
  flex: 1 1;
}

.definition, .point {
  padding-left: $border-spacing;
}

.definition, .point, .note {
  &:not(:last-child) {
    margin-bottom: $border-spacing;
  }
}

.definition-body, .definition-title, .point-body, .note-title {
  padding-left: $border-spacing;
  padding-right: $border-spacing;
  overflow-wrap: break-word ;
  hyphens: auto;
}

//
//.editable-field {
//  border: none;
//  outline: none;
//  background: #8dcdff;
//  height: $line-height;
//  font-size: $font-size;
//  //padding: ;
//  width: 100%;
//  min-width: 200px;
//  box-sizing: border-box;
//  font-family: roboto;
//}