$line-height: 20px;
$border-size: $line-height;
$border-radius: 0; //$border-size / 2;
$border-spacing: 4px;
$border-colour: rgba(black, 0.1);
$hover-colour: rgba(black, 0.2);
$font-size: 16px;

%ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%hover {
  transition: background-color 0.2s ease;
  background-color: $border-colour;

  &:hover {
    background-color: $hover-colour;
  }
}

%node {
  @extend %hover;
  //@extend %ellipses;
  padding: 1px 6px;
}

.section-title {
  padding-top: $border-spacing;
  padding-bottom: $border-spacing;
}

%node, .section-title {
  font-family: rbold;
}

.definition-title {
  @extend %node;
  max-width: 50%;
}

.definition:hover > .definition-title {
  background-color: $hover-colour;
}

.section, .point, .definition {
  font-size: $font-size;
  line-height: $line-height;
  display: flex;
}

.section, .point {
  &:before {
    @extend %hover;
    content: "";
    //height: 2px;
    background-color: $border-colour;
    flex: 0 0 $border-size;
    text-align: center;
    border-radius: $border-radius;
  }

  &:hover:before {
    background-color: $hover-colour;
  }
}

.definition-body, .point-body, .section-body {
  flex: 1 1;
}

.definition, .point {
  padding-left: $border-spacing;
}

.definition, .point, .section {
  &:not(:last-child) {
    margin-bottom: $border-spacing;
  }
}

.definition-body, .point-body, .section-title {
  padding-left: $border-spacing;
}

//
//.editable-field {
//  border: none;
//  outline: none;
//  background: #8dcdff;
//  height: $line-height;
//  font-size: $font-size;
//  //padding: ;
//  width: 100%;
//  min-width: 200px;
//  box-sizing: border-box;
//  font-family: roboto;
//}